:root {
  --primary-color: #4169E1;
  --error-color: #E23737;
  --grey-100: #1C1B1B;
  --grey-90: #212121;
  --grey-70: #3F3D3D;
  --grey-30: #707070;
  --grey-20: #AFAFAF;
  --grey-10: #D9D9D9;
  --grey-5: #F8F8F8; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}
